.filters {
         background-color: white;
         height: 70px;
         width: 100%;
    	 border: 1px solid #DDDDDD;
         border-radius: 4px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         }

section.filters button {
                       font-size: 18px;
                       color: white;
    				   background-color: #FF5A5F;
                       height: 48px;
                       border: 0px;
                       border-radius: 4px;
                       width: 20%;
                       margin-left: auto;
                       margin-right: 30px;
                       opacity: 1;
                       }

section.filters button:hover {
                             opacity: 0.9;
                             }

.locations, .amenities {
                       height: 100%;
                       width: 25%;
                       padding-left: 50px;
                       }

.locations {
           border-right: 1px solid #DDDDDD;
           }

.popover {
    	 display: none;
    	 position: relative;
   	     background-color: #FAFAFA;
    	 width: 100%;
    	 border: 1px solid #DDDDDD;
    	 border-radius: 4px;
    	 left: -51px;
    	 margin-top: 19px;
    	 padding: 30px 50px 30px 0px;
		 }

.locations:hover > .popover {
    						display: block;
							}

.amenities:hover > .popover {
    						display: block;
							}

.popover, .popover ul {
    				  list-style-type: none;
					  }

.locations > .popover > li {
    					   margin-bottom: 30px;
    					   margin-left: 30px;
						   }

.locations > .popover > li > ul {
    						    padding-left: 15px;
								}

.locations > .popover > li > ul > li {
    								 margin-bottom: 2px;
									 }


.amenities > .popover > li {
    					   margin-left: 50px;
    					   margin-bottom: 5px;
						   }

h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
    }


h3 {
   font-weight: 600;
   margin: 9px 0 4px 0;
   }

h4 {
   font-weight: 400;
   font-size: 14px;
   margin: 0 0 0 0;
   }
