.places {
    	width: 100%;
    	border: 0;
    	display: flex;
    	flex-wrap: wrap;
    	flex-direction: row;
    	justify-content: center;
		}

.places > article {
    			  width: 390px;
    			  padding: 15px 15px 15px 15px;
   				  margin: 15px 15px 15px 15px;
   				  border: 1px solid #FF5A5F;
  				  border-radius: 4px;
  				  display: flex;
  				  justify-content: center;
				  flex-direction: column;
    			  position: relative;
         		  z-index: -1;
				  }

h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    flex: 100%;
    }

.places > article > h2 {
    font-size: 30px;
    margin: 10px 0 5px 0;
    text-align: center;
    }

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}

.price_by_night > p {
    margin: 0 0 0 0;
}

.information {
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 30px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p {
    margin-top: auto;
    margin-bottom: auto;
}

.icon_bath {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_bath.png") no-repeat center;
}

.icon_group {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_group.png") no-repeat center;
}

.icon_bed {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_bed.png") no-repeat center;
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.description > p {
    margin-top: 7px;
    margin-bottom: 0px;
}